

  .App-header {
    background-color: #aaa;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }

.Overview-grid-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-flow: row wrap;
    
    margin: 1rem;
  }

.Overview-grid-item {
    min-width: 25%;
    min-height: 10%;
    font-size: 24px;

    margin: 1rem;
    padding: 1rem;
    background: linear-gradient(#eee, #ccc);
    border: 1px solid black;

  }

.Patient-view-container {
    background-color: rgba(200, 150, 100, 0.45);
}

.Percentile-20 {
    background: linear-gradient(red, #ff2200);
}

.Percentile-40 {
    background: linear-gradient(yellow, #ffff33);
}

.Percentile-60 {
    background: linear-gradient(orange, #ffaa22);   
}

.Percentile-80 {
    background: linear-gradient(lightgreen, #44cc44); 
}

.Percentile-100 {
    background: linear-gradient(green, #22ff33);
}

select {
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    background: rgba(200, 150, 100, 0.45)
}